<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="com.shiroyk.shopsystem.handler.EnumTypeHandler" javaType="com.shiroyk.shopsystem.constant.BaseEnum"/>
        <typeHandler handler="com.shiroyk.shopsystem.handler.ImageJsonTypeHandler" javaType="com.shiroyk.shopsystem.entity.Image"/>
    </typeHandlers>
</configuration>