<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroyk.shopsystem.mapper.StatisticMapper">
    <insert id="save" parameterType="com.shiroyk.shopsystem.entity.Statistic">
        insert into statistic (id, new_order, cancel_order, complete_order, timestamp)
        values (#{id}, #{newOrder}, #{cancelOrder},
                #{completeOrder}, #{timestamp})
        on duplicate key update new_order = #{newOrder}, cancel_order =  #{cancelOrder},
                                complete_order = #{completeOrder}, timestamp = #{timestamp}
    </insert>
    <select id="getTodayStatistic" resultType="com.shiroyk.shopsystem.entity.Statistic">
        select * from statistic where timestamp = CURRENT_DATE
    </select>
    <select id="findAll" resultType="com.shiroyk.shopsystem.entity.Statistic">
        select * from statistic
    </select>
</mapper>